:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--body-font-color);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;}

#app {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

}