section:not(.hero-section) {
    grid-column: 2;
    width: clamp(300px, 90vw, 1800px);  
    margin: 1rem;
    padding: 2rem;
    background-color: var(--secondary-background-color);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.hero-section {
    grid-column: 1 / -1;
}

.hero-section video {
    width: 100%;
    height: calc(100vh - 57px);
    object-fit: cover;
    object-position: center;
}